@using kayip_project.Utility
@using Microsoft.AspNetCore.Identity
@using kayip_project.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gören Var Mı?</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Vendor CSS Files -->
    <link
      href="~/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
        <link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
    <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
      <div class="container py-2 py-md-5">
        <div class="row align-items-start">
            <div class="col-md-2 d-none d-md-block">
                <h3>
                  <a asp-controller="Home" asp-area="Customer" asp-action="Index">
                    Ana sayfa
                  </a></h3>
                </p>
              </div>
          <div class="col-md-2 d-none d-md-block">
            <h3>
              <a asp-controller="Home" asp-area="Customer" asp-action="Help">
                Nasıl yardımcı olabilirim?
              </a></h3>
            </p>
          </div>
          <div class="col-md-2 d-none d-md-block">
            <h3><a asp-controller="Home" asp-area="Customer" asp-action="WhatToDo">
              ne yapmalıyım?
          </a></h3>
          </div>
             @if(User.IsInRole(SD.Admin_Role))
            {
            <div class="col-md-2 d-none d-md-block">
            <h3><a  asp-area="Admin" asp-controller="DashBoard" asp-action="Index">
              Admin Panel
          </a></h3>
          </div>
           }
           @if(User.IsInRole(SD.Admin_Role) || User.IsInRole(SD.User_Role))
           {
            <div class="col-md-2 d-none d-md-block">
            <h3><a asp-area="Customer" asp-controller="Post" asp-action="Index" >
             Gönderilerim
          </a></h3>
          </div>
           }
          <div class="col-md-2 d-none d-md-block">
            <h3>
            <a asp-controller="Home" asp-area="Customer" asp-action="ContactUs">iletişim</a></h3>
          </div>
          
              <partial name="_LoginPartial"/>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-light custom-navbar">
      <div class="container">
        <a
          href="#"
          class="burger"
          data-bs-toggle="collapse"
          data-bs-target="#main-navbar"
        >
          <span></span>
        </a>
      </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">
            &copy; Copyright Tüm Hakları Saklıdır.
          </p>
        </div>
        <div class="col-sm-6 social text-md-end">
          <a asp-area="Customer" asp-action="ContactUs"><span class="bi bi-envelope"></span></a>
        </div>
      </div>
    </div>
  </footer>
  <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
            @await RenderSectionAsync("Scripts", required: false)
    <!-- Vendor JS Files -->
        <script src="~/assets/js/main.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- Template Main JS File -->
            </body>
</html>
