@{
    ViewData["Title"] = "Gönderlerim";
}

        <section class="section site-portfolio">
            <div class="container">
            <div class="card">
                <div class="card-icons">
                    <a href="#" class="edit-icon">
                    <i class="bi bi-pen-fill"></i>
                    </a>
                    <a href="#" class="delete-icon">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="#" class="question-icon">
                    <i class="bi bi-question-lg"></i>
                    </a>
                </div>
                <img class="card-img-top" src="~/images/post/two-peoples-hands-holding-books-on-couch.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <u>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque consectetur aperiam labore voluptatibus expedita sed sapiente iusto sunt, numquam repudiandae, in molestiae earum perspiciatis? Mollitia accusamus id delectus tempore eaque.</u>
                </div>
            </div>
        </div>
        </section>