@model List<Post> 

@{
    ViewData["Title"] = "Gönderlerim";
}

        <section class="section site-portfolio">                          
            <div class="container">
        @if (Model == null || !Model.Any())
        {
            <p>Henüz Gönderi yok</p>
        }
        else
        {
            @foreach(var obj in Model)
            {
                @if (User.Identity.IsAuthenticated && obj.ApplicationUser.Email == User.Identity.Name){
                @Html.AntiForgeryToken()
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-icons">
                            <a asp-controller="post" asp-action="Upsert" asp-area="Customer" class="edit-icon">
                            <i class="bi bi-pen-fill"></i>
                            </a>
                            <a onclick="Delete('/customer/post/delete/@obj.Id')" class="delete-icon">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                        <img class="index-image" src="~/@obj.Image">
                        <div class="card-body">
                            <h5 class="card-title">@obj.Title</h5>
                            <p class="card-text">@obj.Description</p>
                            <u>@obj.ContactInfo</u>
                        </div>
                    </div>
                </div>   
                }
                
                    }
        }

        </div>
        </section>



@section Scripts{
    <script src="~/js/post.js"></script>
         }
