@model Post
@using kayip_project.Models

<section class="section">                          
    <div class="container">
    <div class="row mb-5 justify-content-center">
            <h2 class="text-dark center-button">Gönderi @(Model.Id != 0 ? "Güncelle" : "Oluştur")</h2>
        </div>
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 mb-md-0 border p-3">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" hidden>
                <input asp-for="Image" hidden>
                 <input asp-for="ApplicationUserId" hidden>
                    <div class="col-md-12 form-group">
                        <label asp-for="Title" class="post-form mt-2">Kişinin adı</label>
                        <input asp-for="Title" class="form-control mb-3">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group">
                        <label asp-for="Description" class="post-form mt-2">Detaylı Açıklama</label>
                                <a class="question-icon detayli-aciklama" data-bs-toggle="popover" data-bs-trigger="hover">
                            <i class="bi bi-question-lg"></i>
                        </a>
                        <textarea rows="8" asp-for="Description" class="form-control mb-3 custom-textarea"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group mb-3">
                        <label asp-for="ContactInfo" class="post-form mt-2">İleti̇şi̇m bi̇lgi̇leri̇</label>
                        <input asp-for="ContactInfo"  class="form-control">
                        <small class="red">✱burada paylaşacağınız bilgiler herkese açık olacaktır</small>
                        <br>
                        <span asp-validation-for="ContactInfo" class="text-danger"></span>
                    </div>

                   <div class="col-md-12 form-group">
                        <label class="post-form mt-2">Konum</label><small class="red"> ✱Son görulduğu yer</small>
                        <div id="map" style="height: 400px;"></div>
                        <input type="hidden" id="Latitude" name="Latitude" asp-for="Latitude">
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                        <input type="hidden" id="Longitude" name="Longitude" asp-for="Longitude">
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group">
                        <label asp-for="Image" class="post-form mt-2">Kişinin fotoğrafı</label>
                        <input type="file" name="file" class="form-control mb-3">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="col-md-10 pb-3 m-8 d-flex flex-column align-items-center center-button">
                        <button type="submit" class="readmore w-50 mb-3">@(Model.Id != 0 ? "Güncelle" : "Oluştur")</button>
                        <a asp-controller="Home" asp-action="Index">Geri Dön</a>
                    </div>
            </form>
        </div>
                </div>
    </div>
</section>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>

            <script src="~/js/customer_post.js"></script>
    }
}
