@model kayip_project.ViewModels.PostVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">                          
    <div class="container">
    <div class="row mb-5 justify-content-center">
            <h2 class="text-dark center-button">Gönderi @(Model.Post.Id != 0 ? "Güncelle" : "Oluştur")</h2>
        </div>
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 mb-md-0 border p-3">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Post.Id" hidden>
                <input asp-for="Post.Image" hidden>
                    <div class="col-md-12 form-group">
                        <label asp-for="Post.Title" class="post-form mt-2">Kişinin adı</label>
                        <input asp-for="Post.Title" class="form-control mb-3">
                        <span asp-validation-for="Post.Title" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group">
                        <label asp-for="Post.Description" class="post-form mt-2">Detaylı Açıklama</label>
                                <a class="question-icon detayli-aciklama" data-bs-toggle="popover" data-bs-trigger="hover">
                            <i class="bi bi-question-lg"></i>
                        </a>
                        <textarea asp-for="Post.Description" class="form-control mb-3"></textarea>
                        <span asp-validation-for="Post.Description" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group mb-3">
                        <label asp-for="Post.ContactInfo" class="post-form mt-2">İleti̇şi̇m bi̇lgi̇leri̇</label>
                        <input asp-for="Post.ContactInfo"  class="form-control">
                        <small>✱burada paylaşacağınız bilgiler herkese açık olacaktır</small>
                        <br>
                        <span asp-validation-for="Post.ContactInfo" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group">
                        <label asp-for="Post.Image" class="post-form mt-2">Kişinin fotoğrafı</label>
                        <input type="file" name="file" class="form-control mb-3">
                        <span asp-validation-for="Post.Image" class="text-danger"></span>
                    </div>

                    <div class="col-md-10 pb-3 m-8 d-flex flex-column align-items-center center-button">
                        <button type="submit" class="readmore w-50 mb-3">@(Model.Post.Id != 0 ? "Güncelle" : "Oluştur")</button>
                        <a asp-controller="Home" asp-action="Index">Geri Dön</a>
                    </div>
            </form>
        </div>
                </div>
    </div>
</section>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
