<div class="modal-body">
  <small>
    <ul>
      <strong>
        Bu Gizlilik Politikası, Hizmeti kullandığınızda bilgilerinizin toplanması, kullanılması ve ifşa edilmesine ilişkin politikalarımızı ve prosedürlerimizi açıklar ve Size gizlilik haklarınız ve yasaların Sizi nasıl koruduğu hakkında bilgi verir.
        Kişisel verilerinizi Hizmeti sağlamak ve geliştirmek için kullanırız. Hizmeti kullanarak, bilgilerin bu Gizlilik Politikasına uygun olarak toplanmasını ve kullanılmasını kabul edersiniz. 
      </strong>
        <li>
          <span class="red">Yorumlama:</span> Baş harfi büyük olan kelimeler aşağıdaki koşullar altında tanımlanan anlamlara sahiptir. Aşağıdaki tanımlar, tekil veya çoğul olarak görünmelerine bakılmaksızın aynı anlama gelecektir.
        </li>

        <li>
          <span class="red">Tanımlar: </span>Bu Gizlilik Politikasının amaçları doğrultusunda:
          * Hesap, Hizmetimize veya Hizmetimizin bölümlerine erişmeniz için oluşturulan benzersiz bir hesap anlamına gelir. <br>
          * İştirak, bir tarafı kontrol eden, onun tarafından kontrol edilen veya onunla ortak kontrol altında olan bir kuruluş anlamına gelir; burada "kontrol", yöneticilerin veya diğer yönetim yetkilerinin seçiminde oy kullanma hakkına sahip hisselerin, öz sermaye paylarının veya diğer menkul kıymetlerin %50 veya daha fazlasına sahip olmak anlamına gelir.<br>
          * Şirket (bu Sözleşmede "Şirket", "Biz", "Bize" veya "Bizim" olarak anılacaktır) gören var mı anlamına gelir.<br>
          * Çerezler, bir web sitesi tarafından bilgisayarınıza, mobil cihazınıza veya başka bir cihaza yerleştirilen ve birçok kullanımının yanı sıra söz konusu web sitesindeki tarama geçmişinizin ayrıntılarını içeren küçük dosyalardır.<br>
          * Ülke anlamına gelir: Türkiye<br>
          * Cihaz, bilgisayar, cep telefonu veya dijital tablet gibi Hizmete erişebilen herhangi bir cihaz anlamına gelir.<br>
          * Kişisel Veriler, tanımlanmış veya tanımlanabilir bir bireyle ilgili her türlü bilgidir.<br>
          * Hizmet, Web Sitesini ifade eder.<br>
          * Hizmet Sağlayıcı, Şirket adına verileri işleyen herhangi bir gerçek veya tüzel kişi anlamına gelir. Hizmeti kolaylaştırmak,Şirket adına Hizmeti sağlamak, Hizmetle ilgili hizmetleri gerçekleştirmek veya Hizmetin nasıl kullanıldığını analiz etmede Şirkete yardımcı olmak için Şirket tarafından istihdam edilen üçüncü taraf şirketleri veya bireyleri ifade eder.<br>
          * Kullanım Verileri, Hizmetin kullanımı veya Hizmet altyapısının kendisi (örneğin, bir sayfa ziyaretinin süresi) tarafından oluşturulan otomatik olarak toplanan verileri ifade eder.<br>
          * Web sitesi, <a>https://www.gorenvarmi.com</a> adresinden erişilebilen gören var mı'ya atıfta bulunmaktadır.<br>
          * Siz, Hizmete erişen veya Hizmeti kullanan kişi veya söz konusu kişinin adına Hizmete eriştiği veya Hizmeti kullandığı şirket veya diğer tüzel kişilik anlamına gelir.<br>
       </li>


        <li> 
          <div class="red"> Toplanan Veri Türleri: </div>-Kişisel Veriler <br>                                                                                                                         Hizmetimizi kullanırken, Sizinle iletişim kurmak veya Sizi tanımlamak için kullanılabilecek belirli kişisel olarak tanımlanabilir bilgileri Bize sağlamanızı isteyebiliriz.                                                                                                               Kişisel olarak tanımlanabilir bilgiler aşağıdakileri içerebilir, ancak bunlarla sınırlı değildir:<br>
          * E-posta adresi <br>                                                                                                                         * Ad ve soyad<br>                                                                                                                    * Telefon numarası<br>
          * Adres, Eyalet, İl, Posta Kodu, Şehir<br>
          * Kullanım Verileri<br>                                                                                                                 -Kullanım Verileri  <br>
          Kullanım Verileri, Hizmet kullanılırken otomatik olarak toplanır.
          Kullanım Verileri, Cihazınızın İnternet Protokol adresi (ör. IP adresi), tarayıcı türü, tarayıcı sürümü, Hizmetimizin ziyaret ettiğiniz sayfaları, ziyaretinizin saati ve tarihi, bu sayfalarda geçirilen süre, benzersiz cihaz tanımlayıcıları ve diğer teşhis verileri gibi bilgileri içerebilir.                                                                                                                  Hizmete bir mobil cihaz aracılığıyla eriştiğinizde, kullandığınız mobil cihazın türü, mobil cihazınızın benzersiz kimliği, mobil cihazınızın IP adresi, mobil işletim sisteminiz, kullandığınız mobil İnternet tarayıcısının türü, benzersiz cihaz tanımlayıcıları ve diğer tanılama verileri dahil ancak bunlarla sınırlı olmamak üzere belirli bilgileri otomatik olarak toplayabiliriz.
          Ayrıca, Hizmetimizi her ziyaret ettiğinizde veya Hizmete bir mobil cihaz aracılığıyla eriştiğinizde tarayıcınızın gönderdiği bilgileri de toplayabiliriz.
       </li>

        <li>
          <span class="red"> İzleme Teknolojileri ve Çerezler:</span> Hizmetimizdeki etkinliği izlemek ve belirli bilgileri saklamak için Çerezleri ve benzer izleme teknolojilerini kullanırız. Kullanılan izleme teknolojileri, bilgi toplamak ve izlemek ve Hizmetimizi geliştirmek ve analiz etmek için işaretçiler, etiketler ve komut dosyalarıdır. Kullandığımız teknolojiler şunları içerebilir:
                                            <br>
          * Çerezler veya Tarayıcı Çerezleri. Çerez, Cihazınızayerleştirilen küçük bir dosyadır. Tarayıcınıza tüm Çerezleri reddetmesi veya bir Çerez gönderildiğinde bunu belirtmesi talimatını verebilirsiniz. Ancak, Çerezleri kabul etmezseniz, Hizmetimizin bazı bölümlerini kullanamayabilirsiniz. Tarayıcı ayarınızı Çerezleri reddedecek şekilde ayarlamadığınız sürece, Hizmetimiz aşağıdakileri kullanabilir Çerezler. <br>
          * Web İşaretçileri. Hizmetimizin ve e-postalarımızın belirli bölümleri, örneğin Şirketin bu sayfaları ziyaret eden veya bir e-postayı açan kullanıcıları saymasına ve diğer ilgili web sitesi istatistiklerine (örneğin, belirli bir bölümün popülerliğini kaydetmek ve sistem ve sunucu bütünlüğünü doğrulamak) izin veren web işaretçileri (net gifler, piksel etiketleri ve tek piksel gifler olarak da adlandırılır) olarak bilinen küçük elektronik dosyalar içerebilir. <br>Çerezler "Kalıcı" veya "Oturum" Çerezleri olabilir. Kalıcı Çerezler, çevrimdışı olduğunuzda kişisel bilgisayarınızda veya mobil cihazınızda kalırken, Oturum Çerezleri web tarayıcınızı kapattığınız anda silinir. <br>Aşağıda belirtilen amaçlar doğrultusunda hem Oturum Çerezlerini hem de Kalıcı Çerezleri kullanmaktayız: <br>

          * Gerekli / Temel Çerezler<br>
          Tür Oturum Çerezleri<br>
          Tarafından yönetilir: Biz<br>
          Amaç: Bu Çerezler, Size Web Sitesi aracılığıyla sunulan hizmetleri sağlamak ve bazı özelliklerini kullanmanızı sağlamak için gereklidir. Kullanıcıların kimliklerini doğrulamaya ve kullanıcı hesaplarının hileli kullanımını önlemeye yardımcı olurlar. Bu Çerezler olmadan, talep ettiğiniz hizmetler sağlanamaz ve bu Çerezleri yalnızca Size bu hizmetleri sağlamak için kullanırız.<br>
          * Çerez Politikası / Bildirimi Kabul Çerezleri<br>
          Tür Kalıcı Çerezler<br>
          Tarafından yönetilir: Biz<br>
          Amaç: Bu Çerezler, kullanıcıların Web Sitesinde çerez kullanımını kabul edip etmediğini belirler.<br>
          * İşlevsellik Çerezleri<br>
          Tür Kalıcı Çerezler<br>
          Tarafından yönetilir: Biz<br>
          Amaç: Bu Çerezler, Web Sitesini kullanırken yaptığınız giriş bilgilerinizi veya dil tercihinizi hatırlamak gibi seçimleri hatırlamamızı sağlar. Bu Çerezlerin amacı, Size daha kişisel bir deneyim sunmak ve Web Sitesini her kullandığınızda tercihlerinizi yeniden girmek zorunda kalmanızı önlemektir. <br>
          Kullandığımız çerezler ve ilgili seçimleriniz hakkında daha fazla bilgi için çerezler için lütfen Çerez Politikamızı veya Gizlilik Politikamızın Çerezler bölümünü ziyaret edin. Politika.????????<br>
       </li>

        <li>
          <span class="red">Kişisel Verilerinizin Kullanımı:</span>
          Şirket, Kişisel Verileri aşağıdaki amaçlar için kullanabilir: <br>
          * Hizmetimizin kullanımını izlemek de dahil olmak üzere Hizmetimizi   sağlamak ve sürdürmek için.<br>
          * Hesabınızı yönetmek için: Hizmetin bir kullanıcısı olarak kaydınızı yönetmek için. Sağladığınız Kişisel Veriler, kayıtlı bir kullanıcı olarak Sizin için mevcut olan Hizmetin farklı işlevlerine erişmenizi sağlayabilir.<br>
          * Bir sözleşmenin ifası için: Satın aldığınız ürünler, kalemler veya hizmetler için satın alma sözleşmesinin veya Hizmet aracılığıyla Bizimle yaptığınız diğer herhangi bir sözleşmenin geliştirilmesi, uygunluğu ve taahhüt edilmesi.<br>
          * Sizinle iletişime geçmek için: Uygulanmaları için gerekli veya makul olduğunda, güvenlik güncellemeleri de dahil olmak üzere işlevler, ürünler veya sözleşmeli hizmetlerle ilgili güncellemeler veya bilgilendirici iletişimler hakkında bir mobil uygulamanın anlık bildirimleri gibi e-posta, telefon görüşmeleri, SMS veya diğer eşdeğer elektronik iletişim biçimleriyle Sizinle iletişime geçmek.<br>
          * Bu tür bilgileri almamayı tercih etmediğiniz sürece  , halihazırda satın aldığınız veya hakkında bilgi aldığınız ürünlere benzer ürünler, hizmetler ve sunduğumuz etkinlikler hakkında Size haberler, özel teklifler ve genel bilgiler sağlamak.<br>
          * Taleplerinizi yönetmek için: Bize olan taleplerinize katılmak ve bunları yönetmek için.<br>
          * İş transferleri için: Bilgilerinizi, Hizmet kullanıcılarımız hakkında Tarafımızca tutulan Kişisel Verilerin devredilen varlıklar arasında yer aldığı bir birleşme, elden çıkarma, yeniden yapılandırma, yeniden düzenleme, tasfiye veya varlıklarımızın bir kısmının veya tamamının başka bir şekilde satışı veya devri için kullanabiliriz.<br>
          * Diğer amaçlar için: Bilgilerinizi veri analizi, kullanım eğilimlerini belirleme, promosyon kampanyalarımızın etkinliğini belirleme ve Hizmetimizi, ürünlerimizi, hizmetlerimizi, pazarlamamızı ve deneyiminizi değerlendirme ve iyileştirme gibi diğer amaçlar için kullanabiliriz.<br>
          Kişisel bilgilerinizi aşağıdaki durumlarda paylaşabiliriz: <br>
          * Hizmet Sağlayıcılar ile: Kişisel bilgilerinizi, Hizmetimizin kullanımını izlemek ve analiz etmek, Sizinle iletişim kurmak için Hizmet Sağlayıcılarla paylaşabiliriz.<br>
          * İş transferleri için: Kişisel bilgilerinizi, herhangi bir birleşme, Şirket varlıklarının satışı, finansman veya işimizin tamamının veya bir kısmının başka bir şirkete devredilmesi ile bağlantılı olarak veya bunların müzakereleri sırasında paylaşabilir veya aktarabiliriz.<br>
          * İştirakler ile: Bilgilerinizi bağlı kuruluşlarımızla paylaşabiliriz, bu durumda söz konusu bağlı kuruluşların bu Gizlilik Politikasına uymasını zorunlu kılarız. İştirakler, ana şirketimizi ve kontrol ettiğimiz veya Bizimle ortak kontrol altında olan diğer iştirakleri, ortak girişim ortaklarını veya diğer şirketleri içerir.<br>
          * İş ortakları ile: Size belirli ürünler, hizmetler veya promosyonlar sunmak için bilgilerinizi iş ortaklarımızla paylaşabiliriz.<br>
          * Diğer kullanıcılarla: Kişisel bilgilerinizi paylaştığınızda veya diğer kullanıcılarla ortak alanlarda başka bir şekilde etkileşime girdiğinizde, bu tür bilgiler tüm kullanıcılar tarafından görüntülenebilir ve dışarıda herkese açık olarak dağıtılabilir.<br>
          * Sizin izniniz ile: Kişisel bilgilerinizi Sizin izninizle başka herhangi bir amaç için ifşa edebiliriz.
       </li>

        <li>
          <span class="red"> Kişisel Verilerinizin Saklanması:</span> Şirket, Kişisel Verilerinizi yalnızca bu Gizlilik Politikasında belirtilen amaçlar için gerekli olduğu sürece saklayacaktır. Kişisel Verilerinizi yasal yükümlülüklerimize uymak (örneğin, geçerli yasalara uymak için verilerinizi saklamamız gerekiyorsa), anlaşmazlıkları çözmek ve yasal anlaşmalarımızı ve politikalarımızı uygulamak için gerekli olduğu ölçüde saklayacak ve kullanacağız. <br>
          Şirket ayrıca dahili analiz amacıyla Kullanım Verilerini saklayacaktır. Kullanım Verileri, bu verilerin güvenliği güçlendirmek veya Hizmetimizin işlevselliğini geliştirmek için kullanıldığı veya yasal olarak bu verileri daha uzun süre saklamak zorunda olduğumuz durumlar dışında, genellikle daha kısa bir süre için saklanır.   <br>
        </li>

        <li>
          <span class="red"> Kişisel Verilerinizin Aktarılması:</span>
              Kişisel Veriler de dahil olmak üzere bilgileriniz, Şirket'in işletme ofislerinde ve işleme dahil olan tarafların bulunduğu diğer yerlerde işlenir. Bu, bu bilgilerin Sizin eyaletiniz, iliniz, ülkeniz veya veri koruma yasalarının Sizin yargı alanınızdakilerden farklı olabileceği diğer resmi yargı alanlarının dışında bulunan bilgisayarlara aktarılabileceği ve bu bilgisayarlarda muhafaza edilebileceği anlamına gelir.
              Bu Gizlilik Politikasına onay vermeniz ve ardından söz konusu bilgileri göndermeniz, bu aktarımı kabul ettiğinizi gösterir. <br>
              Şirket, verilerinizin güvenli bir şekilde ve bu Gizlilik Politikasına uygun olarak işlenmesini sağlamak için makul olarak gerekli tüm adımları atacaktır ve Kişisel Verilerinizin, verilerinizin ve diğer kişisel bilgilerinizin güvenliği de dahil olmak üzere yeterli kontroller olmadıkça bir kuruluşa veya bir ülkeye aktarılması gerçekleşmeyecektir.
        </li>

        <li>
          <span class="red"> Kişisel Verilerinizi Silin: </span>
          Hakkınızda topladığımız Kişisel Verileri silme veya silinmesine yardımcı olmamızı talep etme hakkına sahipsiniz.
          Hizmetimiz Size, Hakkınızdaki belirli bilgileri Hizmet içinden silme olanağı sağlayabilir.
          Bilgilerinizi, varsa Hesabınızda oturum açarak ve kişisel bilgilerinizi yönetmenizi sağlayan hesap ayarları bölümünü ziyaret ederek istediğiniz zaman güncelleyebilir, değiştirebilir veya silebilirsiniz. Ayrıca, Bize sağladığınız kişisel bilgilere erişim talep etmek, bunları düzeltmek veya silmek için Bizimle iletişime geçebilirsiniz.
          Bununla birlikte, yasal bir yükümlülüğümüz veya yasal dayanağımız olduğunda belirli bilgileri saklamamız gerekebileceğini lütfen unutmayın.

        </li>

        <li>
          <span class="red">Kişisel Verilerinizin İfşası: </span>
          -Ticari İşlemler  <br>Şirket bir birleşme, devralma veya varlık satışına dahil olursa, Kişisel Verileriniz aktarılabilir. Kişisel Verileriniz aktarılmadan ve farklı bir Gizlilik Politikasına tabi olmadan önce bildirimde bulunacağız.  <br>
          -Kolluk kuvvetleri  <br>Belirli koşullar altında Şirketin, yasaların gerektirmesi halinde veya kamu makamlarının (örneğin bir mahkeme veya devlet kurumu) geçerli taleplerine yanıt olarak Kişisel Verilerinizi ifşa etmesi gerekebilir.   <br>
          -Diğer yasal gereklilikler<br>Şirket, Kişisel Verilerinizi, bu tür bir eylemin aşağıdakiler için gerekli olduğuna iyi niyetle inanarak ifşa edebilir:   <br>
          * Yasal bir yükümlülüğe uymak<br>
          * Şirketin haklarını veya mülkiyetini korumak ve savunmak<br>
          * Hizmet ile bağlantılı olası yanlış davranışları önlemek veya araştırmak<br>
          * Hizmet Kullanıcılarının veya kamunun kişisel güvenliğini korumak<br>
          * Yasal sorumluluğa karşı koruma<br>
        </li>

        <li>
          <span class="red">Kişisel Verilerinizin Güvenliği: </span>
          Kişisel Verilerinizin güvenliği Bizim için önemlidir, ancak İnternet üzerinden hiçbir iletim yönteminin veya elektronik depolama yönteminin %100 güvenli olmadığını unutmayın. Kişisel Verilerinizi korumak için ticari olarak kabul edilebilir araçlar kullanmaya çalışsak da, mutlak güvenliğini garanti edemeyiz.
        </li>

        <li>
          <span class="red">Çocukların Gizliliği: </span>
          Hizmetimiz 13 yaşın altındaki hiç kimseye hitap etmemektedir. Ebeveyn veya veli iseniz ve çocuğunuzun Bize Kişisel Veriler sağladığını biliyorsanız, lütfen Bizimle iletişime geçin. 13 yaşın altındaki hiç kimseden bilerek kişisel olarak tanımlanabilir bilgi toplamıyoruz. Ebeveyn iznini doğrulamadan 13 yaşın altındaki herhangi birinden Kişisel Veri topladığımızı fark edersek, bu bilgileri sunucularımızdan kaldırmak için gerekli adımları atarız. <br>
          Bilgilerinizi işlemek için yasal dayanak olarak rızaya dayanmamız gerekiyorsa ve ülkeniz bir ebeveynin rızasını gerektiriyorsa, bu bilgileri toplamadan ve kullanmadan önce ebeveyninizin rızasını isteyebiliriz.
        </li>

        <li>
          <span class="red">Diğer Web Sitelerine Bağlantılar: </span>
          Hizmetimiz, Tarafımızca işletilmeyen diğer web sitelerine bağlantılar içerebilir. Bir üçüncü taraf bağlantısına tıklarsanız, söz konusu üçüncü tarafın sitesine yönlendirilirsiniz. Ziyaret ettiğiniz her sitenin Gizlilik Politikasını incelemenizi önemle tavsiye ederiz. <br>
          Üçüncü taraf sitelerinin veya hizmetlerinin içeriği, gizlilik politikaları veya uygulamaları üzerinde hiçbir kontrolümüz yoktur ve bunlar için hiçbir sorumluluk kabul etmiyoruz.
          </li>

          <li>
            <span class="red">Bu Gizlilik Politikasındaki Değişiklikler: </span>
            Gizlilik Politikamızı zaman zaman güncelleyebiliriz. Yeni Gizlilik Politikasını bu sayfada yayınlayarak değişiklikleri Size bildireceğiz. 
            Değişikliğin yürürlüğe girmesinden ve bu Gizlilik Politikasının üst kısmındaki "Son güncelleme" tarihinin güncellenmesinden önce e-posta ve/veya Hizmetimizde göze çarpan bir bildirim yoluyla Sizi bilgilendireceğiz.
            Herhangi bir değişiklik için bu Gizlilik Politikasını periyodik olarak gözden geçirmeniz tavsiye edilir. Bu Gizlilik Politikasındaki değişiklikler, bu sayfada yayınlandıklarında yürürlüğe girer.
          </li>

          <li>
           <strong>Bize Ulaşıın, 
           Bu Gizlilik Politikası hakkında herhangi bir sorunuz varsa, bizimle iletişime geçebilirsiniz: <br>
           * E-posta ile: gorenvarmıı@gmail.com
           * Web sitemizdeki bu sayfayı ziyaret ederek: <a>https://www.gorenvarmi.contactus</a>   
            </strong>     
           </li>
    </ul>
  </small>
</div>