<div class="modal-body">
    <small>Bu web sitesini kullanarak, aşağıdaki kullanım hüküm ve koşullarına uymayı ve bunlara bağlı kalmayı kabul etmiş olursunuz. Hizmetlerimize erişmeden veya hizmetlerimizi kullanmadan önce lütfen bu şartları dikkatlice okuyunuz.
        <ul>
                        <li> <span class="red">Bilgilerin Doğruluğu:</span> Kullanıcılar, Gören Var mı? web sitesinde yayınladıkları bilgilerin doğruluğundan tek başına sorumludur. Emniyet ve güvenlik önlemleri uygulamakla birlikte, kullanıcı tarafından oluşturulan içeriğin doğruluğunu, eksiksizliğini veya güvenilirliğini garanti etmiyoruz. Kullanıcılar göndermeden önce bilgilerin doğruluğunu teyit etmelidir.</li>
                        <li> <span class="red">Yanlış Gönderileri Bildirme:</span> Yanlış veya yanıltıcı olduğuna inandığınız bir gönderiyle karşılaşırsanız, lütfen bunu derhal bize bildirin. Geçerli bir şikayet aldıktan ve yanlışlığı teyit ettikten sonra, gönderiyi derhal kaldıracağız.</li>
                        <li> <span class="red">Yanlış Gönderilerin Sonuçları:</span> Kasıtlı olarak yanlış bilgi göndermek, gönderinin derhal silinmesine ve kullanıcının hesabının geçici veya kalıcı olarak kilitlenmesine neden olabilir. Hesapları kilitlenen kullanıcılar platforma erişimlerini kaybedecek ve bir daha kayıt olamayacak veya gönderi paylaşamayacaklardır.</li>
                        <li> <span class="red">Yasal Sorumluluk:</span> Kullanıcılar Gören Var mı? websitesinda yayınladıkları içerikten yasal olarak sorumludur. Yanlış, yanıltıcı veya zararlı bilgilerin yayınlanması yasal sonuçlara yol açabilir.</li>
                        <li> <span class="red">Şartların Değiştirilmesi:</span> Gören var mı? websitesi, bu hizmet koşullarını istediği zaman değiştirme hakkını saklı tutar. Kullanıcılar değişikliklerden haberdar edilecek ve değişikliklerden sonra platformun kullanılmaya devam edilmesi güncellenen şartların kabul edildiği anlamına gelecektir.</li>
                        <li> <span class="red">Geçerli Kanun:</span> Bu hüküm ve koşullar Türkiye Cumhuriyeti yasalarına göre yönetilir ve yorumlanır.</li>
        </ul>
             <strong>Gören Var mı? web sitesine erişerek veya kullanarak, bu hizmet şartlarını okuduğunuzu, anladığınızı ve bunlara bağlı kalmayı kabul ettiğinizi onaylamış olursunuz. Bu şartları kabul etmiyorsanız, lütfen bu web sitesini kullanmayın.</strong>
    </small>
</div>