@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}               
<div class="container-fluid px-4">
 <div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-dark py-2">Message List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
   @Html.AntiForgeryToken()
    <table id="tblData" style="width: 100%;" class="table table-bordered table-stripped">
    <thead> 
        <tr>
   <th>Title</th>
      <th>Message</th> 
      <th>Sender's Email</th> 
        <th></th> 
    </tr>
    </thead>
           </table>
    </div>
 </div>
</div>
@section Scripts{
    <script src="~/js/message.js"></script>
         }