@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre yenileme onayı";
}
<section class="section pb-5" style="margin-bottom: 14%;">
    <div class="container">
        <div class="row mb-5 justify-content-center">
                <div class="col-md-6" data-aos="fade-up">
            <h2>@ViewData["Title"]</h2>
            <p class="text-danger">Şifreniz yenilenmiştir. Giriş yapmak için lütfen <a asp-page="./Login" class="text-danger"><u>buraya</a></u> tıklayın.</p>
        </div>
        </div>
   </div>
</section>