@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Şifreyi sıfırla";
}
<section class="section pb-5" style="margin-bottom: 14%;">
    <div class="container">
        <div class="row mb-5 justify-content-center">
                <div class="col-md-6" data-aos="fade-up">
            <h2>@ViewData["Title"]</h2>
            <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="col-md-12 form-group mt-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group mt-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group mt-3">
               <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
            <button type="submit" class="readmore w-75 mb-3">Sıfırla</button>
            </div>
        </form>    
        </div>
        </div>
   </div>
@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
