@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "E-posta onayını yeniden gönderme";
}
 
<section class="section pb-5" style="margin-bottom: 14%;">
    <div class="container">
        <div class="row mb-5 justify-content-center">
                <div class="col-md-6" data-aos="fade-up">
            <h2>@ViewData["Title"]</h2>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="col-md-12 form-group mb-3 mt-5">
                 <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" aria-required="true"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-md-10 m-8 d-flex flex-column align-items-center center-button">
            <button type="submit" class="readmore w-75 mb-3">yeniden gönder</button>
            </div>
        </form>
        </div>
        </div>
   </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
