@model Message
@{
    ViewData["Title"] = "Contact Us Page";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<div class="container">
    <span style="color: green;">@ViewBag.Message</span>
  <div class="row">
      <form method="post" >
        <label for="Name">Email</label>
        <input type="text" name="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label for="Subject">Title</label>
        <input type="text" name="Subject">
                     <span asp-validation-for="Subject" class="text-danger"></span>
        <label for="Body">Subject</label>
        <textarea name="Body"style="height:170px"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
        <button type="submit" >sumbit</button>
      </form>
    </div>
</div> 