@model Message
@{
    ViewData["Title"] = "Yardım";
}
<section class="section site-portfolio">
        <div class="container">
          <h2  class="mb-4 neyapmaliyim">Nasıl Yardımcı Olabilirim?</h2>
          <p>Kayıp insanlara yardım etmek, onları sevdiklerine kavuşturmada büyük bir fark yaratabilir. Gönüllü olarak arama ve kurtarma ekiplerine katılabilir ya da bağış yaparak bu sürece destek olabilirsiniz. Her küçük yardım büyük bir fark yaratır</p>
          <div class="row mb-5 align-items-center">
            <h5>Gönüllü Olarak</h5>
            <h6>Türkiye'de</h6>
            <a href="https://www.akut.org.tr/uyelik">Akut organizasyon</a>
            <a href="https://gonullu.afad.gov.tr/">AFAD</a>
          </div>
          <div class="row mb-5 align-items-center">
            <h5>Bağış Yoluyla</h5>
            <h6>Dünya'da</h6>
            <a href="https://familiesofthemissing.org/">Families of the missing</a>
            <a href="https://mpfus.org/aboutus.htm">Missing persons Foundation</a>
            <h6>Türkeye'de</h6>
        <a href="https://www.unicefturk.org/yazi/cocugunuzun-kayip-ve-yasla-bas-etmesini-destekleyin
        https://www.akut.org.tr/bagis-yap">Akut organizasyon</a>
          </div>
          <div
            id="portfolio-grid"
            class="row no-gutter"
            data-aos="fade-up"
            data-aos-delay="200"
          ></div>
        </div>
</section>