@using kayip_project.Utility
@{
    ViewData["Title"] = "Ana Sayfa";
    string linkPath;
}
      <!-- ======= Works Section ======= -->
      <section class="section site-portfolio">
        <div class="container">
          <div class="row mb-5 align-items-center">
            <div class="col-md-12 mb-4 mb-lg-0">
            <h2><span class="red">Gören</span> Var mı?</h2>
              <p class="mt-4">
                Bilgiyi özgürce genişletmek için bir platform sağlamaya adanmış web sitemize hoş geldiniz. Türkiye'de kayıp şahıs krizi yaşayan bireyleri desteklemeye adanmış ilk web sitesi olarak görevimiz eğitmek, yardımcı olmak ve bağlantı kurmaktır.
                Paylaşılan tüm bilgilerin doğruluğunu ve güvenliğini sağlamak için çaba gösterirken, kullanıcıların gönderdikleri içerikten sorumlu olduklarını lütfen unutmayın. Sıkı güvenlik önlemleri alıyoruz, ancak şüpheli gönderilerle karşılaşırsanız, bunları derhal bildirmenizi öneririz. Uygun önlemlerin hızla alınacağından emin olabilirsiniz.
              </p>
                @{
                    linkPath = "";
                  if(User.IsInRole(SD.User_Role))
                  {
                      linkPath = Url.Action("Create", "Post", new { area = "Customer" });
                  }
                  else
                   {
                      linkPath = Url.Action("Login", "Account", new { area = "Identity" });

                   }
                }
              <u><a href="@linkPath">Kayıp bir kişiyi bildirmek ister misiniz?</a></u>
            </div>
          </div>
                <input type="checkbox" id="ch" hidden>
             <div class="index-content">
                <div class="row">
             <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-icons">
                        <a class="question-icon" data-bs-toggle="popover" data-bs-trigger="hover">
                            <i class="bi bi-question-lg"></i>
                        </a>
                    </div>
                    <img class="index-image" src="~/images/post/two-peoples-hands-holding-books-on-couch.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <u>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque consectetur aperiam labore voluptatibus expedita sed sapiente iusto sunt, numquam repudiandae, in molestiae earum perspiciatis? Mollitia accusamus id delectus tempore eaque.</u>
                    </div>
                </div>
            </div>
                        <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-icons">
                        <a class="question-icon" data-bs-toggle="popover" data-bs-trigger="hover">
                            <i class="bi bi-question-lg"></i>
                        </a>
                    </div>
                    <img class=" index-image" src="~/images/post/two-peoples-hands-holding-books-on-couch.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <u>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque consectetur aperiam labore voluptatibus expedita sed sapiente iusto sunt, numquam repudiandae, in molestiae earum perspiciatis? Mollitia accusamus id delectus tempore eaque.</u>
                    </div>
                </div>
            </div>
            </div>
              <div class="col-md-6 mt-0 form-group center-button ">
            <label for="ch" class="readmore mb-3">daha az oku</label>
          </div>
                      
        </div>

          <div class="checked col-md-6 mt-0 form-group center-button ">
            <label for="ch" class="readmore mb-3">Daha fazla oku</label>
          </div>
        </div>
      </section>