@{
    ViewData["Title"] = "Home Page";
}
      <!-- ======= Works Section ======= -->
      <section class="section site-portfolio">
        <div class="container">
          <div class="row mb-5 align-items-center">
            <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
              <h2>Onu Gordünüz Mü</h2>
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                illum quia cupiditate commodi? Impedit tenetur adipisci error
                iure? Atque necessitatibus dolorum inventore minus impedit sed
                corporis accusamus. Error, tempora hic?
              </p>
            </div>
            <div
              class="col-md-12 col-lg-6 text-start text-lg-end"
              data-aos="fade-up"
              data-aos-delay="100"
            ></div>
          </div>
          <div
            id="portfolio-grid"
            class="row no-gutter"
            data-aos="fade-up"
            data-aos-delay="200"
          >
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <img class="img-fluid" src="image">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <img class="img-fluid" src="image">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <img class="img-fluid" src="image">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <img class="img-fluid" src="image">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <img class="img-fluid" src="image">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <img class="img-fluid" src="image">
            </a>
          </div>
        </div>
        </div>
      </section>