@model Message
@{
    ViewData["Title"] = "Ne Yapılmalı";
}

<section class="section site-portfolio">
          <div class="container">
            <h2 class="mb-4 neyapmaliyim">Ne yapmalıyım?</h2>
              <div class="row mb-5 mt-5 w-70">
                <div class="col-md-6 my-accordion-column">
                  <div class="accordion my-accordion" id="accordionLeft">
                    <div class="accordion-item my-accordion-item">
                      <h2 class="accordion-header" id="left-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseOne" aria-expanded="true" aria-controls="left-collapseOne">
                          Tanıdığım biri kaybolursa ne yapmalıyım?
                        </button>
                      </h2>
                      <div id="left-collapseOne" class="accordion-collapse collapse" aria-labelledby="left-headingOne">
                        <div class="accordion-body">
                          <ul>
                            <li class="neyapmaliyim">*Polise bildirin</li>
                            <span>Kişinin risk altında olduğunu düşünüyorsanız ya da güvenliğinden endişe ediyorsanız, polise kayıp ihbarında bulunun. Bunu yapmak için 24 saat beklemek zorunda değilsiniz.</span>
                            <li class="neyapmaliyim">*Aramayı başlatın</li>
                            <span>Aramaya yardımcı olmak istiyorsanız, afişler kullanarak, olabileceklerini düşündüğünüz yerleri araştırarak ve nerede olduklarını bilebilecek insanlarla konuşarak kendi tanıtım çağrınızı başlatmanın yolları vardır.</span>
                            <li class="neyapmaliyim">*Medya ile çalışma</li>
                            <span>Sosyal medya hesaplarınızda ve diğer ilgili web sitelerinde kayıp kişi hakkında paylaşım yapın ve daha fazla dikkat çekmek için hikayenizi televizyonda yayınlamak için haberlerle iletişime geçebilirsiniz.</span>
                            <li class="neyapmaliyim">*Kendinize iyi bakın</li>
                            <span>Sakin olun ve güvende kalın. Bilmediğiniz yerlerde veya karanlıkta arama yapmayı planlıyorsanız, yanınıza birini alın veya en azından nereye gittiğinizi söyleyin. Ailenizden veya arkadaşlarınızdan size yardım etmelerini isteyin; bu işleri hızlandırabilir ve kendinizi daha desteklenmiş ve daha az yalnız hissetmenizi sağlayabilir. Kimin size en iyi şekilde yardım edebileceğini ve sizinle birlikte bekleyebileceğini düşünün.</span>
                          </ul>
                        </div>       
                      </div>
                    </div>
                  </div>
                  <div class="accordion my-accordion" id="accordionLeft">
                    <div class="accordion-item my-accordion-item">
                      <h2 class="accordion-header" id="left-headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseTwo" aria-expanded="true" aria-controls="left-collapseTwo">
                          Insanların kaybolma nedenleri nelerdir?
                        </button>
                      </h2>
                      <div id="left-collapseTwo" class="accordion-collapse collapse" aria-labelledby="left-headingTwo">
                        <div class="accordion-body">
                          <ul>
                            <li class="neyapmaliyim">*Yoldan sapmak</li>
                            <span>İnsanlar genellikle yoldan çıktıkları için kaybolurlar. Bu, insanlar bir bölgeye tanıdık olmadıklarında meydana gelebilir. Çevrelerine dikkat etmezler veya işaretli yollara takılıp kalırlar. Yönlerini şaşırırlar. Bu, evlerinden uzaklaşan çocukların başına gelir.</span>
                            <li class="neyapmaliyim">*Yaşlı Yetişkinler ve Demans Hastaları</li>
                            <span>Demans ya da alzhimeri olan yaşlılar kaybolma riski altındadır. Yaşlılar bir an kendilerinde olabilir ve yürüyüşe çıkmaya ya da arabayla gezmeye karar verebilirler. Nerede olduğunu ya da kim olduğunu hatırlamakta güçlük çeken bir yetişkin, predatorun kaçırması açısından daha büyük risk altında olabilir.</span>
                            <li class="neyapmaliyim">*Tanımadığınız Kişiler Tarafından Kaçırılma</li>
                            <span>Kaybolan insanların çok azı gerçekten tanımadıkları kişiler tarafından kaçırılır. İstatistiklere göre kaçırma olaylarının sadece yüzde biri mağdura tamamen yabancı kişiler tarafından gerçekleştirilmektedir. Bebekler, çocuklar ve kadınlar yabancılar tarafından kaçırılmalarda en savunmasız kişilerdir. Ortalama olarak on bir yaş ve üzeri kız çocukları yabancılar tarafından hedef alınmaktadır. Yabancılar tarafından kaçırılan yetişkinler genellikle fidye için alıkonulmaktadır.</span>
                            <li class="neyapmaliyim">*Sorumluluklardan Kaçınma</li>
                            <span>Mali zorluklar, nafaka ödemeleri veya diğer mali yükümlülükler gibi sorumlulukları da beraberinde getirebilir. Bazı bireyler bu sorumluluklardan kaçınmak için kayıplara karışmayı tercih etmekte ve mali taahhütlerin yükü olmadan yeni bir hayata başlamayı arzulamaktadır.</span>
                            <li class="neyapmaliyim">*Suç İçeren Faaliyetler</li>
                            <span>Bazı kişiler suç faaliyetlerinde bulunurken, kanun güçlerinden kaçmaya çalışırken ortadan kaybolabilir. Suç girişimlerindeki ortaklarının karıştığı bir suça kurban gitmiş olabilirler. Diğerleri suç işlemiş olabilir ve bunun sonucunda aileleri ve arkadaşlarıyla bağlarını koparabilirler.</span>
                            <li class="neyapmaliyim">*Aile İçi Taciz ve Şiddet</li>
                            <span>Bireyler istismarcılarından kaçmak için ortadan kaybolabilirler. Birincil kaygıları, yerlerinin tespit edileceği korkusuyla genellikle eşleri de dahil olmak üzere herkesten nerede olduklarını gizlemektir. Bu korku, arkadaşlar ve aile de dahil olmak üzere kimseye güvenmemeye kadar uzanır.</span>
                            <li class="neyapmaliyim">*İnsan Ticareti</li>
                            <span>İnsan ticareti de insanların kaybolmasının bir başka nedenidir. İnsan ticareti, bir failin başka bir kişiyi cinsel olarak satmak ya da çalıştırmak üzere ele geçirmesidir. İnsan tacirleri genellikle kurbanlarını kaçırmazlar. Bunun yerine mağdurun ihtiyacı olan bir şeyi teklif ederler. Bu ihtiyaçlar uyuşturucu, para, yiyecek ve barınak gibi temel ihtiyaçlar olabilir. İnsan ticaretinin sınırları yoktur. Çocuklar, gençler ve yetişkinlerin hepsi insan ticaretine karşı savunmasızdır.</span>
                            <li class="neyapmaliyim">*Ruh Sağlığı Sorunları</li>
                            <span>Depresyon, anksiyete veya şizofreni gibi ruh sağlığı sorunları olan kişilerin kaybolma olasılığı daha yüksek olabilir. Ruh sağlığı bozuklukları bir kişinin ruh halini ciddi şekilde ve olumsuz yönde etkileyebilir. Bu da kendilerini üzgün, istenmeyen, tehlikede veya öfkeli hissetmelerine neden olabilir.</span>
                            <li class="neyapmaliyim">*Cinayet</li>
                            <li class="neyapmaliyim">*Doğal Felaketler</li>
                            <li class="neyapmaliyim">*Gönüllü Kaybolma</li>
                            <li class="neyapmaliyim">*Savaş veya Çatışma</li>
                            <li class="neyapmaliyim">*Tanınan Bir Kişi Tarafından Kaçırılma</li>
                            <span>Kayıp kişi kaçırma vakalarının çoğunda mağdur, kaçıran kişiyi tanımaktadır. Bu kayıp vakaları genellikle karmaşık bir boşanmanın ortasında kalan çocukları kapsar.</span>
                        </ul>
                        </div>       
                      </div>
                    </div>
                  </div>
                  <div class="accordion my-accordion" id="accordionLeft">
                    <div class="accordion-item my-accordion-item">
                      <h2 class="accordion-header" id="left-headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseThree" aria-expanded="true" aria-controls="left-collapseThree">
                          Çevremdeki insanların kaybolmamasını sağlamak için gerekli önlemler nelerdir?
                        </button>
                      </h2>
                      <div id="left-collapseThree" class="accordion-collapse collapse" aria-labelledby="left-headingThree">
                        <div class="accordion-body">
                          <ul>
                            <li class="neyapmaliyim">*Ruh sağlığı farkındalığını teşvik edin</li>
                            <li class="neyapmaliyim">*Doğal afete hazır olmak</li>
                            <span>
                              Deprem gibi bir doğal afet durumunda, evinizin bu olasılığı karşılayacak şekilde inşa edildiğinden emin olun, deprem olduğunda ne yapmanız gerektiğinin farkında olun ve çevrenizdeki insanların da bunun farkında olduğundan emin olun.
                            </span>
                            <li class="neyapmaliyim">*Çocuklara önlemleri öğretin</li>
                            <li class="neyapmaliyim">*Yaşlıları veya engellileri kendi başlarına bırakmayın</li>
                            <li class="neyapmaliyim">*Evin güvenliğinin sağlanması</li>
                            <span>Evinizi güvende tutmak, ailenizin ve kendinizin güvenliğini sağlamak için hayati önem taşır. Kilitlerin ve uyarıların muhafaza edilmesi atılacak önemli adımlardır</span>
                          </ul>
                        </div>       
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 my-accordion-column">
                  <div class="accordion my-accordion" id="accordionLeft">
                    <div class="accordion-item my-accordion-item">
                      <h2 class="accordion-header" id="left-headingFour">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseFour" aria-expanded="true" aria-controls="left-collapseFour">
                          Kaybolursam ne yapmalıyım?
                        </button>
                      </h2>
                      <div id="left-collapseFour" class="accordion-collapse collapse" aria-labelledby="left-headingFour">
                        <div class="accordion-body">
                          <span>Kaybolduysanız, yardım gelene kadar veya yardım aramak için yeterince güvenli olana kadar güvenli bir yerde kalın. Başkalarıyla iletişim kurmak için telefonunuzu her zaman yanınızda bulundurun ve insanların kaybolduğunuzu fark etmeleri için her zaman iletişim halinde olun. Polisle irtibata geçtiyseniz dediklerini aynen yapın ve yardımın size ulaşmasını bekleyin.
                          </span>
                        </div>       
                      </div>
                    </div>
                  </div>
                  <div class="accordion my-accordion" id="accordionLeft">
                    <div class="accordion-item my-accordion-item">
                      <h2 class="accordion-header" id="left-headingFive">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseFive" aria-expanded="true" aria-controls="left-collapseFive">
                          Kayıp birini bulursam ne yapmalıyım?
                        </button>
                      </h2>
                      <div id="left-collapseFive" class="accordion-collapse collapse" aria-labelledby="left-headingFive">
                        <div class="accordion-body">
                          <span>Kayıp olduğu bilinen birini bulduğunuzda göreviniz <strong>derhal</strong> emniyet yetkilileriyle irtibata geçmektir; onlar da kayıp kişinin ailesiyle irtibata geçerek durumla ilgileneceklerdir.</span>
                        </div>       
                      </div>
                    </div>
                  </div>
                  <div class="accordion my-accordion" id="accordionLeft">
                    <div class="accordion-item my-accordion-item">
                      <h2 class="accordion-header" id="left-headingSix">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#left-collapseSix" aria-expanded="true" aria-controls="left-collapseSix">
                          Trajediyle piskolojik olarak nasıl başa çekilir?
                        </button>
                      </h2>
                      <div id="left-collapseSix" class="accordion-collapse collapse" aria-labelledby="left-headingSix">
                        <div class="accordion-body">
                          <span>Kaybolan kişileri aramak sıkıntılı, sinir bozucu ve tehlikeli olabilir. Bazı vakalar toplu mezarlarda arama yapmayı, korkunç muamelelere maruz kalmış insanların kalıntılarını görmeyi ya da fiziksel veya psikolojik işkence görmüş mağdurlarla çalışmayı gerektirir. En zorlu gazeteciler bile bu vakaların yaratabileceği travma ve stres seviyesiyle başa çıkmak için dışarıdan desteğe ihtiyaç duyabilir. Meslektaşlarınızı, arkadaşlarınızı ve iyi bir terapisti içeren bir destek ağı kurarak kendinizi hazırlayabilirsiniz.</span>
                        </div>       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>